.image-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  margin: auto;
  border: 1px solid;
}

.image-preview img {
  width: 200px;
  height: 200px;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
